.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: 0.3s;
  border-left: 1px solid #e8e8e8;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  padding-left: 6px;
  overflow: hidden;
}
.logo :nth-last-child(1){
  margin: 0;
  padding-left: 40px;
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
  font-style:italic;
  font-weight: bold;
}
.logo :nth-last-child(2){
  display: inline-block;
}
.sider{
  position: fixed !important;
  top: 0;
  left: 0;
  min-height:100vh;
  z-index: 9;
  box-sizing: border-box;
}
.header{
  width: 100%;
  background:#fff !important;
  padding:0;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.2s;
  border-bottom: 1px solid #e8e8e8;
}
.content{
  padding-top: 64px;
}
.layout{
  transition: 0.2s;
  border-left: 1px solid #e8e8e8;
}
.container{
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: rgb(240, 242, 245);
  width: 100vw;
  height: 100vh;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 110px;
}
.contents{
  width: 368px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row{
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: space-between;
}